<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
</head>
<body>
	<h1>{{welcome}}</h1>
	<!-- <p class="output" id="output">{{output1}}</p> -->
	<img src='{{link1}}' alt=""> <br>
	<img src='{{link2}}' alt=""> <br>
	<img src='{{link3}}' alt=""> <br>
	<img src='{{lin4}}' alt=""> <br>
	<img src='{{lin5}}' alt=""> 
	<!-- <p class="output" id="output">{{form}}</p> -->
	
	<!-- <p>I'm...</p> -->
</body>

	{{> footer}}
</html>